/* font-family: Popins-Regular 400*/

@font-face {
    font-family: Regular_400;
    src: url(/fonts/Poppins-Regular.ttf);
}

/* font-family: Popins-Extra-bold 800 */

@font-face {
    font-family: Extra_Bold_800;
    src: url(/fonts/Poppins-ExtraBold.ttf);
}

/* font-family: Popins-Black 900 */

@font-face {
    font-family: Black_900;
    src: url(/fonts/Poppins-Black.ttf);
}