@import url('../styles/fonts.css');

:root {
    /*      Theme colors      */
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 1200px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 10px 0;
    font-family: Extra_Bold_800;
}

form {
    background: #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.8);
}

.form {
    width: 100%;
    margin: 0 auto;
}