@import url('../styles/fonts.css');

:root {
    /*      Theme colors      */
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 1200px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 10px 0;
    font-family: Extra_Bold_800;
}

form {
    background: #fff;
    width: 40%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.8);
}

.form .grupo{
    display: flex;
    flex-direction: column;  
    margin: 30px 20px;
}
.form input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;  
    border: none;
    border-bottom: 1px solid var(--colorTextos); 
}

input:focus~label 
{
    position: absolute;
    font-size: 12px;
    color: #2196f3;   
}
label {
    color: var(--colorTextos);
    font-size: 16px;
    transition:  0.3s ease all;
}

input:focus~.barra::before{
    width: 100%;
}
.barra::before {
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);

    left: 0%;

}